<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://funcapp3546.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cf1ec5b1-09c4-4497-a9cf-c87b766fd458/resourceGroups/AlohaTestRG1/providers/Microsoft.Web/sites/funcApp3546</ResourceId>
    <UserName>$funcApp3546</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://funcapp3546.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>